*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style: none;
    text-decoration: none;

}


:root{
    --bg-color:#1f1f21;
    --text-color:#fff;
    --main-color:#40c8f1;

    --big-font: 4.5rem;
    --p-font: 1rem;

}

body{
    background: var(--bg-color);
    color : var(--text-color);
    overflow-x: hidden;   
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}
.logo{
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
}

.logo span{
    color: var(--main-color);
}

.navbar{
    display: flex; 
}

.navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;  
}

.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}

.menu-btn{
    background: linear-gradient(130.08deg,#383528 0%,#191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    padding: 10px 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


#menu-icon{
    font-size: 28px;
    margin-left: 10px;
    z-index: 6;
}


#menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgb(0, 0,0,0.5 );
    width: 100%;
    height: 100vh;
    top: 0;left:0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);

}
#menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}


.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #fff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #fff;
    background: #1f1f1f;

}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;

    width: 20px;
    height: 10px;

}


section{
    padding: 0 15%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    margin-top: 30px;
}

.home-img{
    width: 730px;
    height: 730px;
   
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.home-text span{
    padding: 5px 25px;
    background: linear-gradient(130.08deg,#383528 0%,#191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 100px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}

.home-text h1{
    font-size: var(--big-font);
    margin: 23px 0;

}

.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn{
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;

}

.btn:hover{
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

.two{
    background: #141414 ;
    border: 2px solid #141414;
    color: var(--text-color);
    margin-left: 25px;
}

.two:hover{
    color: #141414;
    background: var(--text-color);
    border: 2px solid var(--text-color);
}

.share{
    position: absolute;
    bottom: 3rem;
    left: 15%;
    display: flex;
    align-items: center;
}

.share p{
    font-size: 17px;
    color: var(--text-color);
    margin-right: 25px;
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    padding: 5px 25px;
    background: linear-gradient(130.08deg,#383528 0%,#191919 100%);
    box-shadow: 0px 20px 40px #00000070;
    border: 1px solid #3b3b3b;
    border-radius: 20%;
    color: var(--text-color);
    font-size: 20px;
    margin: 0 7px;
    transition: all 0.6s ease-in-out;
}

.social i:hover{
    transform: translateY(-10px);
    background: var(--main-color);
}

footer{
    text-align: center;
}

.proyects{
    position:relative;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 60px;
    margin-top: 90px;
 
}

.container-proyects{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    height: 100vh;

    overflow: hidden; 
}


.container{
    background: var(--main-color);
    height: 310px;
    width: 400px;

    border-radius: 10%;  
    margin-top: 20px;

    transition: transform 0.6s ease-in-out;
    position: relative;
}

.card-front{
    width: 100%;
    height: auto;
    transition: opacity 0.6s ease-in-out;
    position: absolute;
}

.card-front:hover{
    opacity: 0;
}

.container:hover {
    transform: rotateY(180deg) scale(1.05);
}

.card-back {
    display: none; 
}

.container:hover .card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.container:hover .card-front {
    transform: rotateY(180deg);
}

.img-proyect {
    width: 400px;
    height: 240px;

}

.img-proyect img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10% 10% 0% 0%;
}

.info-proyect{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
}

#info-1{
    margin-left: 15px;
}

#info-2{
    margin-top: 4px;
    margin-right: 50px;
}

#info-2 i{
    font-size: 40px;
}


.info-proyect a{
    color: var(--text-color);
}
.info-proyect p{
    color: var(--text-color);
    font-size: 20px;
}

.card-back a{
    font-size: 40px;
}



.about{
    position:relative;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 60px;
    margin-top: 130px;
    font-size: 20px;
}

.contact-content{
    position:relative;
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 60px;
    margin-top: 130px;
    font-size: 20px;
}


@media (max-width:1850px){
    header{
        padding: 15px 8%;
        transition: .2s;
    }
    section{
        padding: 0 8%;
        transition: .2s;
    }

    .share{
        left: 8%;
        transition: .2s;
    }
}

@media (max-width:1370px){
    header{
        padding: 15px 4%;
        transition: .2s;
    }
    section{
        padding: 0 4%;
        transition: .2s;
    }

    .share{
        left: 4%;
        transition: .2s;
    }

    :root{
        --big-font: 3.5rem;
        --p-font: 1rem;
        transition: .2s;
    }
}

@media (max-width:1020px){
    .navbar a{
        margin: 0 15px;
    }

    :root{
            --big-font: 3rem;
            --p-font: 1rem;
            transition: .2s;
        }
}

@media (max-width:950px){
    .share{
        display: none;
    }

    section{
        padding: 70px 4%;
    }

    header{
        padding: 11px 4%;
        background: #2d2d2d;
    }
    .home{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .home-text{
        order: 2;
    }

    .home-img{
        margin: auto;
        height: auto;
        width: auto;
    }

    .home-img img{
        max-width: 450px;
        width: 100%;
        height: auto;
    }
}

@media (max-width:850px){
    .navbar{
        display: none;
    }

}
@media (max-width:500px){
    :root{
        --big-font: 2rem;
        --p-font: 15px;
        transition: .2s;
    }

    .btn{
        padding: 9px 28px;
    }
}

@media (max-width:433px){
    .main-btn{
        display: flex;
    }
    .img-proyect {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .container{
        height: 200px;
    }
    .container-proyects{
        height: auto;
        overflow-y: auto;
    }
    #img-market{
        height: 150px;
    }

    .about {
        width: 100%;
        height: auto;
        font-size: 18px;
        margin-left: 20px;
    }

    .about img{
        width: 100%;
        height: auto;
    }

}

@media (max-width:338px){
    .proyects{
        width: 100%;
        height: auto;
        margin-left: 30px;
        margin-top: 90px;
    }
    
}



.home-img img{
    animation: imgg 2s ease-in-out infinite;
    animation-delay: 2s;
}

@keyframes imgg {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}

.logo{
    animation: log 2s ease-in-out;
}

@keyframes log {
    0%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(0);
    }
}




